@model RenderIndexViewModel
@{ Layout = "_Layout"; }

<div class="content">
    @Html.Raw(Model.Html)
</div>

<footer>
    <a asp-action="Edit" asp-controller="Manage" asp-route-path="@Model.Path">Edit</a>
    −
    <a asp-action="Index" asp-controller="Manage">Manager</a>
    −
    Last updated <span title="@Model.LastUpdate">@Model.LastUpdate.ToRelativeTime()</span>
</footer>