@page "/category.html"
@model PathfinderFr.Pages._Render.CategoryModel

<div id="PageHeaderDiv">
    <h1 class="pagetitle">
        @if (Model.Name == null)
        {
            <text>Liste des catégories</text>
        }
        else
        {
            <text>Catégorie @Model.Name.Name</text>
        }
    </h1>
</div>

<div id="PageContentDiv">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model.Pages.OrderBy(p => p.Title))
            {
                <tr>
                    <td>
                        <a href="@(page.Path)">
                            @(page.Title)
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>