@model ManageEditRawViewModel

@{ ViewData["Title"] = "Page Editor"; }

@section Styles
{
    <style type="text/css">
        .btn-toolbar > * {
            margin: 0 2px;
        }

        #Content {
            font-size: .9rem;
        }
    </style>
}

<h3>Page Editor</h3>

<nav aria-label="breadcrumb">
    <manage-breadcrumb path="@Model.Path"></manage-breadcrumb>
</nav>

<form method="post">

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" rows="10" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Comment"></label>
        <input asp-for="Comment" class="form-control" />
    </div>

    <div class="btn-toolbar">
        <button type="submit" name="Action" value="Save" class="btn btn-primary">Save</button>
        <button type="submit" name="Action" value="SaveAndContinue" class="btn btn-secondary">Save and Continue</button>
        <a asp-action="Index" asp-controller="Render" asp-route-path="@Model.Path" class="btn btn-link">View</a>
    </div>
</form>
